body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #fff;
    background: #d2ddff;
}

h1 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    /* margin: 0 auto; */
    border-radius: 10px;
    background: #8a9beb;
    padding: 5px;
    width: 210px;
}

h3{
    font-size: 24px;
}

#container{
    padding: 10px;
    width: 50%;
    background: #193498;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(88, 88, 88);
}

.popup {
    background: #193498;
    margin: 30px 20px;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid #8a9beb;
}
#popUpDinheiro{
    flex-direction: column;
    align-items: center;
}

#popUpDespesa {
    flex-direction: column;
    align-items: center;
}

#adicionarSaldo{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #193498;
}

#popUpDinheiro, #popUpDespesa{
    display: none;
}

#Botao-adicionar-dinheiro, #adicionar-despesa {
    border: 1px solid #193498;
    color: #fff;
    font-size: 20px;
    background: #1597E5;
    cursor: pointer;
    padding: 10px;
    width: 185px;
    border-radius: 10px;
    margin-top: 10px;
}

#Botao-Cancelar {
    cursor: pointer;
    margin: 10px;
    color: #fc7272;
}

#saldo {
    background: #F3F1F5;
    border: 1px solid #193498;
    border-radius: 10px;
    text-align: end;
    width: 200px;
    height: 30px;
    font-size: 18px;
}

.botao-adicionar, .botao-adicionar:hover{
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #193498;
    padding: 10px;
    color: #113CFC;
    background: #F3F1F5;
    font-size: 14px;
    cursor: pointer;
}

#area-adicionar{
    /*background: #393E46;*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#filtro-anual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#todos-meses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #5C7AEA;
    border-radius: 10px;
    padding: 10px 30px;
}

.preenchimento-mes {
    border-radius: 10px;
    width: 19px;
    background: #193498; 
    height: 100px;
}